@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  --row-height: 266px;
  height: 100vh;
  background-color: black;
}

.font-carter {
  font-family: 'Carter One', cursive;
}

.type {
  /* font-family: 'Nabla', cursive; */
  font-family: 'Carter One', cursive;
}

.articles-layout {
  grid-template-rows: repeat(auto-fill, minmax(var(--row-height), 1fr));
}

.article {
  background-color: rgba(13, 13, 14);
}

.rows-2 {
  height: calc(var(--row-height) * 2);
}
