@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  /* TODO: dymanic set by different screen size */
  --row-height: 266px;
  height: 100vh;
  background-color: black;
}

.font-carter {
  font-family: 'Carter One', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.type {
  /* font-family: 'Nabla', cursive; */
  font-family: 'Carter One', cursive;
}

.articles-layout {
  grid-template-rows: repeat(auto-fill, var(--row-height));
  height: 1400vh;
  width: 200vw;
}

.article {
  background-color: rgba(13, 13, 14);
}